<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
            a broad range of clients, including browsers and mobile devices. ASP.NET Web API
            is an ideal platform for building RESTful applications on the .NET Framework.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
    </div>
</div>


<input type="button" id="btn" value="Save" onclick="javascript:test();" />


@section CustomScripts {

    <script type="text/javascript">
        $(document).ready(function () {

            test();

            function test() {

                //1.
                var order = {
                    "CustomerName": "MS"
                };
                //2.
                var itemDetails = [
                    { "ItemName": "Desktop", "Quantity": 10, "UnitPrice": 45000 },
                    { "ItemName": "Laptop", "Quantity": 30, "UnitPrice": 80000 },
                    { "ItemName": "Router", "Quantity": 50, "UnitPrice": 5000 }
                ];
                //3.
                $.ajax({
                    url: '/api/Products',
                    type: 'POST',
                    //4.
                    data: {
                        order: order,
                        itemDetails: itemDetails
                    },
                    ContentType: 'application/json;utf-8',
                    datatype: 'json'
                }).done(function (resp) {
                    alert("Successful " + resp);
                }).error(function (err) {
                    alert("Error " + err.status);

                });
            }

        });

    </script>
}